Package: libzmq3
Source: zeromq3
Version: 4.0.3+dfsg-1
Architecture: amd64
Maintainer: Alessandro Ghedini <ghedo@debian.org>
Installed-Size: 429
Pre-Depends: multiarch-support
Depends: libc6 (>= 2.14), libgcc1 (>= 1:4.1.1), libpgm-5.1-0 (>= 5.1.116~dfsg), libstdc++6 (>= 4.2.1)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://www.zeromq.org/
Description: lightweight messaging kernel (shared library)
 ØMQ is a library which extends the standard socket interfaces with features
 traditionally provided by specialised messaging middleware products.
 .
 ØMQ sockets provide an abstraction of asynchronous message queues, multiple
 messaging patterns, message filtering (subscriptions), seamless access to
 multiple transport protocols and more.
 .
 This package contains the libzmq shared library.
