#!/usr/bin/make -f

ifeq ($(DEB_BUILD_ARCH_OS), kfreebsd)
	DO_TEST = no
endif

%:
	dh $@ --with=autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --with-system-pgm

override_dh_auto_test:
ifneq ($(DO_TEST), no)
	dh_auto_test
else
	-dh_auto_test
endif

override_dh_strip:
	dh_strip --dbg-package=libzmq3-dbg

override_dh_install:
	dh_install
	cd debian/libzmq3/usr/lib/x86_64-linux-gnu && ln -s libzmq.so.4 libzmq.so.3
